In [1]:
from keras.preprocessing.image import ImageDataGenerator
import pandas as pd
import numpy as np

### Dataset from fer2013

In [2]:
# https://www.kaggle.com/nicolejyt/facialexpressionrecognition
df_others = pd.read_csv('data/fer2013/fer2013.csv')
df_others.head()

   emotion                                             pixels     Usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [3]:
emotion_map = {0: 'Angry', 1: 'Digust', 2: 'Fear', 3: 'Happy', 4: 'Sad', 5: 'Surprise', 6: 'Neutral'}
emotion_counts = df_others['emotion'].value_counts(sort=False).reset_index()
emotion_counts.columns = ['emotion', 'number']
emotion_counts['emotion'] = emotion_counts['emotion'].map(emotion_map)
emotion_counts

    emotion  number
0     Angry    4953
1    Digust     547
2      Fear    5121
3     Happy    8989
4       Sad    6077
5  Surprise    4002
6   Neutral    6198

In [4]:
# Only use 'Happy' & 'Neutral'
df1 = df_others[df_others['emotion'].isin([3,6])]
df1 = df1.drop('Usage', axis=1)
df1.head()

    emotion                                             pixels
4         6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...
7         3  77 78 79 79 78 75 60 55 47 48 58 73 77 79 57 5...
8         3  85 84 90 121 101 102 133 153 153 169 177 189 1...
11        6  39 75 78 58 58 45 49 48 103 156 81 45 41 38 49...
12        6  219 213 206 202 209 217 216 215 219 218 223 23...

In [5]:
df1['pixels'] = df1['pixels'].apply(lambda x: np.fromstring(x,sep=' ').reshape(48,48,1))

# 0:Neutral, 1:Happy
df1['emotion'] = df1['emotion'].map({6:0, 3:1})
df1.head()

    emotion                                             pixels
4         0  [[[4.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0...
7         1  [[[77.0], [78.0], [79.0], [79.0], [78.0], [75....
8         1  [[[85.0], [84.0], [90.0], [121.0], [101.0], [1...
11        0  [[[39.0], [75.0], [78.0], [58.0], [58.0], [45....
12        0  [[[219.0], [213.0], [206.0], [202.0], [209.0],...

In [6]:
df1.shape

(15187, 2)

### Images for pain from web

In [7]:
# where???
gen = ImageDataGenerator()
pain_gen = gen.flow_from_directory(
                            directory=r"./data/fer2013/",
                            target_size=(48, 48),
                            color_mode="grayscale",
                            batch_size=239,
                            class_mode='binary',
                            shuffle=True,
                            seed=721)

Found 239 images belonging to 1 classes.

In [8]:
temp = list(pain_gen.next()[0])
df_pain = pd.DataFrame({'pixels':temp})
df_pain['emotion'] = 2

In [9]:
df_pain.head()

                                              pixels  emotion
0  [[[225.0], [234.0], [237.0], [240.0], [240.0],...        2
1  [[[225.0], [229.0], [237.0], [238.0], [238.0],...        2
2  [[[227.0], [235.0], [236.0], [238.0], [238.0],...        2
3  [[[227.0], [231.0], [239.0], [243.0], [241.0],...        2
4  [[[223.0], [237.0], [237.0], [237.0], [239.0],...        2

In [10]:
df_pain.shape

(239, 2)

### Images from selfies

In [11]:
gen = ImageDataGenerator()
neutral_gen = gen.flow_from_directory(
                            directory=r"./data/selfie/neutral",
                            target_size=(48, 48),
                            color_mode="grayscale",
                            batch_size=340,
                            class_mode='binary',
                            shuffle=True,
                            seed=721)

Found 340 images belonging to 1 classes.

In [12]:
temp = list(neutral_gen.next()[0])
df_neutral = pd.DataFrame({'pixels':temp})
df_neutral['emotion'] = 0
df_neutral.head()

                                              pixels  emotion
0  [[[16.0], [13.0], [16.0], [26.0], [34.0], [29....        0
1  [[[135.0], [125.0], [133.0], [160.0], [168.0],...        0
2  [[[114.0], [122.0], [109.0], [101.0], [98.0], ...        0
3  [[[116.0], [95.0], [69.0], [65.0], [54.0], [45...        0
4  [[[144.0], [131.0], [150.0], [132.0], [151.0],...        0

In [13]:
df_neutral.shape

(340, 2)

In [14]:
gen = ImageDataGenerator()
happy_gen = gen.flow_from_directory(
                            directory=r"./data/selfie/happy",
                            target_size=(48, 48),
                            color_mode="grayscale",
                            batch_size=228,
                            class_mode='binary',
                            shuffle=True,
                            seed=721)

Found 228 images belonging to 1 classes.

In [15]:
temp = list(happy_gen.next()[0])
df_happy = pd.DataFrame({'pixels':temp})
df_happy['emotion'] = 1
df_happy.head()

                                              pixels  emotion
0  [[[35.0], [33.0], [35.0], [28.0], [13.0], [29....        1
1  [[[16.0], [17.0], [23.0], [25.0], [26.0], [21....        1
2  [[[16.0], [12.0], [13.0], [12.0], [12.0], [14....        1
3  [[[144.0], [14.0], [8.0], [8.0], [8.0], [8.0],...        1
4  [[[158.0], [133.0], [156.0], [125.0], [115.0],...        1

In [16]:
df_happy.shape

(228, 2)

In [17]:
gen = ImageDataGenerator()
pain_gen = gen.flow_from_directory(
                            directory=r"./data/selfie/pain",
                            target_size=(48, 48),
                            color_mode="grayscale",
                            batch_size=479,
                            class_mode='binary',
                            shuffle=True,
                            seed=721)

Found 479 images belonging to 1 classes.

In [18]:
temp = list(pain_gen.next()[0])
df_pain2 = pd.DataFrame({'pixels':temp})
df_pain2['emotion'] = 2
df_pain2.head()

                                              pixels  emotion
0  [[[36.0], [30.0], [24.0], [27.0], [27.0], [21....        2
1  [[[75.0], [46.0], [23.0], [19.0], [21.0], [29....        2
2  [[[41.0], [41.0], [45.0], [43.0], [42.0], [49....        2
3  [[[27.0], [40.0], [39.0], [49.0], [28.0], [15....        2
4  [[[105.0], [159.0], [167.0], [119.0], [58.0], ...        2

In [19]:
df_pain2.shape

(479, 2)

### Combining all

In [20]:
df_cb = pd.concat([df1, df_pain, df_neutral, df_happy, df_pain2], ignore_index=True)
df_cb.head()

   emotion                                             pixels
0        0  [[[4.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0...
1        1  [[[77.0], [78.0], [79.0], [79.0], [78.0], [75....
2        1  [[[85.0], [84.0], [90.0], [121.0], [101.0], [1...
3        0  [[[39.0], [75.0], [78.0], [58.0], [58.0], [45....
4        0  [[[219.0], [213.0], [206.0], [202.0], [209.0],...

In [21]:
df_cb.shape

(16473, 2)

In [22]:
df_cb.to_pickle("comb_20201118.pkl")